
header{
    background-color: black;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.box0{
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a{
    color: white;
}

main h1{
    font-size: 88px;
    width: 743px;
    margin: 0 auto;
    text-align: center;
}
 
.box div{
   text-align: center;
   width: 393px;
   height: 396px;
  
}

.box{
    display: flex;
    justify-content: space-around;
    align-items: center;
   flex-wrap: wrap;

}
































































































